[submodule "ADAuthenticationBroker/Frameworks/azure-activedirectory-library-for-objc-unity-fork"]
	path = ADAuthenticationBroker/Frameworks/azure-activedirectory-library-for-objc-unity-fork
	url = https://github.com/AzureAD/azure-activedirectory-library-for-objc-unity-fork
[submodule "ADAuthenticationBroker/Frameworks/WorkplaceJoin-for-iOS"]
	path = ADAuthenticationBroker/Frameworks/WorkplaceJoin-for-iOS
	url = https://github.com/AzureAD/WorkplaceJoin-for-iOS
