#Contains files that the source control should ignore
xcuserdata
*.xccheckout
Pods/*
ADAL/ObjectiveC.gcda
ADAL/ObjectiveC.gcno
ADAL/Security.gcda
ADAL/Security.gcno
.DS_Store
\.scannerwork/
bw-output/
