//
//  adal__mac__common.xcconfig
//

#include "adal__common.xcconfig"

ARCHS = "$(ARCHS_STANDARD_32_64_BIT)";
CLANG_ENABLE_OBJC_ARC = NO;
CLANG_ENABLE_OBJC_ARC[arch=x86_64] = YES;
MACOSX_DEPLOYMENT_TARGET = 10.10;

LD_RUNPATH_SEARCH_PATHS = "$(inherited) @executable_path/../Frameworks @loader_path/Frameworks";
