//
//  adal__framework__ios.xcconfig
//

#include "adal__common__ios.xcconfig"
#include "adal__lib__common.xcconfig"

INFOPLIST_FILE = resources/ios/Framework/Info.plist;
MODULEMAP_FILE = resources/ios/Framework/adal.modulemap
PRODUCT_BUNDLE_IDENTIFIER = com.microsoft.ADAL
PRODUCT_NAME = ADAL
VERSIONING_SYSTEM = "apple-generic";
VERSION_INFO_PREFIX = "";
DEFINES_MODULE = YES;

URRENT_PROJECT_VERSION = 1;

DYLIB_COMPATIBILITY_VERSION = 1;
DYLIB_CURRENT_VERSION = 1;
DYLIB_INSTALL_NAME_BASE = @rpath;

INSTALL_PATH = "@executable_path/../Frameworks";

ENABLE_TESTABILITY = YES;
