//
//  adal__ios__testhostapp.xcconfig
//

#include "adal__common__mac.xcconfig"

//	Because the auto app uses the same internals as the library itself, it needs the library
//	precompiled header and user search paths
#include "adal__lib__common.xcconfig"

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
CODE_SIGN_ENTITLEMENTS = automation/macos/ADALAutomationForMac.entitlements
PRODUCT_BUNDLE_IDENTIFIER = com.microsoft.ADALAutomationForMac
PRODUCT_NAME = ADALAutomationForMac
INFOPLIST_FILE = automation/macos/Info.plist
GCC_OPTIMIZATION_LEVEL = 0;
USER_HEADER_SEARCH_PATHS = $IDCORE_PATH/tests/automation/** $IDCORE_PATH/src/**;
