//
//  adal__test__common.xcconfig
//

USER_HEADER_SEARCH_PATHS = $(inherited) $IDCORE_PATH/tests/util/** $IDCORE_PATH/src/**
GCC_PREFIX_HEADER = tests/ADTest.pch
GCC_PRECOMPILE_PREFIX_HEADER = YES
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = YES
ENABLE_TESTABILITY = YES;
CLANG_ENABLE_MODULES = NO
