<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ADAuthenticationBroker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ADAuthenticationBrokerFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>975E428E1A1C845C0033B500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>975E42981A1C85B40033B500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97D685BD1A13EA5000EE816C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97D685C81A13EA5000EE816C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97E21C971A1C21F700EF5520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97E21CA11A1C21F700EF5520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97E21CB11A1C226E00EF5520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
